.checkbox>label {
	padding-left: 0;
}

.toggle-group > label {
	margin-top: 0;
}

.panel-group {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 300px;
    overflow-y: scroll;
    padding: 5px;
}

#list_cms tr,
#list_cat tr {
	cursor: pointer;
}

td small {
	color: #959595;
}

.form-group label.toggle-label {
	margin-top: 22px;
}
.toggle-on.btn {
	padding-left: 12px;
}

.help-block {
	margin-top: 12px;
}